<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="GoMeshCentral Agent" Language="1033" Version="1.0.0.0" Manufacturer="GoMeshCentral" UpgradeCode="7F4F725E-C246-4F18-9124-7B03010FA22C">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="GoMeshCentral Remote Management Agent" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of GoMeshCentral Agent is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="SERVER" Value="localhost:8080" />
    <Property Id="ENROLL_TOKEN" Value="" />
    <Property Id="HEARTBEAT_SEC" Value="10" />
    <Property Id="REPORT_SEC" Value="60" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="GoMeshCentral">
          <Component Id="AgentBinary" Guid="3E4D6C2A-9D8E-4A1B-8C2F-5D9E7F1A3B5C">
            <File Id="AgentExe" Source="$(var.SourceDir)\agent.exe" KeyPath="yes" />
            <ServiceInstall
              Id="AgentServiceInstall"
              Type="ownProcess"
              Name="GoMeshCentralAgent"
              DisplayName="GoMeshCentral Agent"
              Description="GoMeshCentral remote management agent (persistent background service)."
              Start="auto"
              Account="LocalSystem"
              ErrorControl="normal"
              Arguments="-server [SERVER] -state C:\ProgramData\GoMeshCentral\agent-state.json -heartbeat-seconds [HEARTBEAT_SEC] -report-seconds [REPORT_SEC] -enroll-token [ENROLL_TOKEN]" />
            <ServiceControl
              Id="AgentServiceControl"
              Name="GoMeshCentralAgent"
              Start="install"
              Stop="both"
              Remove="uninstall"
              Wait="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="MainFeature" Title="GoMeshCentral Agent" Level="1">
      <ComponentRef Id="AgentBinary" />
    </Feature>
  </Product>
</Wix>
